/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-display  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

// price block
.price-block {
  text-align: center;
  .price-block-inner {
    border: 2px solid #ccc;
    .price-block-title {
      margin: 0;
      padding: 20px;
      background-color: #ccc;
      font-size: 1.5rem;
    }
    .price-block-value {
      margin: 0;
      font-size: 2rem;
      font-weight: bold;
      padding: 30px;
    }
    .price-block-features {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 20px;
      }
      li:nth-child(odd) {
        background-color: #ccc;
      }
    }
    .price-block-button {
      display: block;
      margin: 20px auto;
      max-width: 200px;
      height: 50px;
      padding: 10px;
      text-align: center;
      background-color: #60a746;
      font-size: 1.2rem;
      color: white;
      font-weight: bold;
      text-decoration: none;
    }
  }
}